form {
  width: 100%;
  height: 10%;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  input {
    width: 85%;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
    &:focus {
      outline: none;
    }
  }
  .send {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background-color: rgb(1, 1, 49);
    border: none;
    font-weight: 800;
    width: 10%;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      color: rgb(1, 1, 49);
      background-color: white;
    }
  }
}
